/* CSS cho trang xóa và sửa nhân viên */

/* Form và nút lưu */
form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Nút xóa và nút sửa */
  .btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .btn-primary {
    background-color: #2196F3;
  }
  
  .btn-danger:hover {
    background-color: #d32f2f;
  }
  
  .btn-primary:hover {
    background-color: #1976D2;
  }